<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 整合mybatis -->

    <!--  关联数据库连接配置  -->
    <context:property-placeholder location="classpath:database.properties"/>
    <!--  连接池  -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 配置数据库连接 -->
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username1}"/>
        <property name="password" value="${jdbc.password1}"/>
        <!-- 连接池私有属性 -->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!-- 关闭自动提交事务 -->
        <property name="autoCommitOnClose" value="false"/>
        <!-- 连接超时 -->
        <property name="checkoutTimeout" value="10000"/>
        <!-- 重连次数 -->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>

    <!-- 配置Mybatis sqlSessionFactory 对象 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 注入Mybatis全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!-- 配置Mybatis mapper扫描，动态的将mapper实现类 注入到Spring的容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入Mybatis的sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 指定扫描mapper的路径 -->
        <property name="basePackage" value="com.qk.dao"/>
    </bean>

</beans>