<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.dao.BookMapper">

    <!--增加一个Book-->
    <insert id="addBook" parameterType="Books">
        insert into ssmbui1d.books(bookName , bookcounts,detai1)values (#{bookName}，#{bookcounts}，#{detai1})
    </insert>

    <!--根据id删除一个Book-->
    <delete id="deleteBookById" parameterType="int">
         delete from ssmbuild.books where bookID=#{bookID}
    </delete>

    <!-- 更新Book -->
    <update id="updateBook" parameterType="Books">
        update ssmbui1d.books set bookName = #{bookName} , bookcounts = #{bookcounts},detail = #{detai1}
        where bookID = #{bookID}
    </update>

    <!--根据id查询,返回一个Book-->
    <select id="queryBookBy1d" resultType="Books">
        select * from ssmbui1d.books
        where bookID = #{bookID}</select>

    <!--查询全部Book-->
    <select id="selectBook" resultType="Books">
        SELECT * from ssmbuild.books
    </select>


</mapper>